@charset "utf-8";
/* CSS Document */

.topMenu a{
	color: #000000;
	font-size: 14px;
	padding-left: 15px;
	padding-right: 15px;
}
.topMenu a:nth-child(2){
	border-right: solid 1px #000000;
}
.topMenu a:nth-last-child(1){
	background-image: url(../images/cart.png);
	background-repeat: no-repeat;
	
}
.menu ul li a{
	color: #000000!important;
}
.menu ul li.active a{
	text-decoration: underline;
}
.menu{
	margin-top: 25px;
	border-bottom: solid 1px #000000;
	padding-left: 0px;
	padding-right: 0px;
}
.carousel-indicators li {
	width: 10px;
	height: 10px;
	border-radius: 100%;
	background-color: transparent;
	border: solid 1px white;
}

.carousel-indicators .active{
	background-color: white;
}

.box h3 {
	background-color: rgba(0,0,0,0.50);
	color: #FFFFFF;
	font-size: 14px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	position: absolute;
	bottom: -50px;
	margin: 0px;
	width: 100%;
	transition: .5s;

}
.box{
	position: relative;
	overflow: hidden;
	display: block;
	margin-top: 30px;
}

.box:hover h3 {
	bottom: 0px;
	height: 100%;
	background-color: rgba(247,46,50,0.50);
}

.line{

	border-top: solid 1px rgba(0,0,0,1.00);
}

.txtBox{
	border: solid 1px rgba(0,0,0,1.00);
	height: 50px;
	
	
}

.btnSend{
	height: 50px;
	background-color: rgba(0,0,0,1.00);
	color: #FFFFFF;
	font-size: 14px;
	border: none;
}

.mail{
	margin-top: 40px;
}
